<!DOCTYPE html>

<html ng-app="TodoApp" >

<head>

	<title> ToDo application using Angular.js </title>
	<link rel="stylesheet" type="text/css" href="todos.css">

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

	<script>

		var TodoApp = angular.module('TodoApp',[]);
		TodoApp.controller('TodoCtrl',function ($scope)	{

			$scope.Todo = []

			$scope.addTodo = function() {
				if (!$scope.enteredTodo)
				{
					return;
				}
				else{
					$scope.Todo.push($scope.enteredTodo);
					$scope.enteredTodo = '';
				}

			};

			$scope.removeTodo = function(item)
			{
				var i = $scope.Todo.indexOf(item);
				$scope.Todo.splice(i,1);



			};

			$scope.clearall = function()
			{
				$scope.Todo =[];
			}

			
		});

	</script>

</head>


<!-- body code-->

<body ng-controller="TodoCtrl">


	<div id="todo">

		<hr color="brown">

		<h1 id="todoh1" >To-Do </h1>   <img src="tick.png" width="70" height="70" alt="tick"/>

		<h3 align="right"> - Be organized !</h3>

		<hr color="brown">

		<br/>
	
	</div>
	
	
	<div id="todo1">


		<h1 align="center" style="color:brown">List the tasks that needs to be done ! </h1>

		<br/>

		<ul ng-repeat="item in Todo">
			<li >

				<input type="checkbox" ng-model="todo.done"/>
				<span ng-class="{'done':todo.done}">

					{{item}}

				</span>
				<a href="" ng-click= "removeTodo(item)">    <b> Done ! </b>   </a>


			</li>

		</ul>



		<form ng-submit= "addTodo()">
			<input type="text" ng-model="enteredTodo" placeholder="Enter the tasks" >
			<input type="submit" value="Add Task" >
			<input type="submit" ng-click="clearall()" value="Clear All" >

		</form>

		<br/>


		<p id="para">"Rename your "To-Do" list to your "Opportunities" list. Each day is a treasure chest filled with limitless opportunities,take joy in checking many off your list."  -  Steve Maraboli</p>

	</div>


</body>

</html>

